<ion-card class="recipe clickable" [id]="'recipeCardId' + recipe.id" (click)="routeToRecipe()" *ngIf="recipe">
    <img fill loading="lazy" [ngSrc]="imagePath"/>

    <div class="infocontainer">
        <ion-card-title>{{recipe.name}}</ion-card-title>
        <ion-fab-button class="removeButton" (click)="addRecipeToRemoveList()" *ngIf="editMode">
            <span class="custom-title" title="Löschen">
                <ion-icon color="danger" name="trash-outline" *ngIf="!isRemoved"></ion-icon>
            </span>
            <span class="custom-title" title="Hinzufügen">
                <ion-icon name="checkmark-outline" *ngIf="isRemoved"></ion-icon>
            </span>
        </ion-fab-button>
    </div>
</ion-card>
