<ion-card [color]="themeService.theme" class="recipe" [id]="'recipeCardId' + recipe.id" (click)="routeToRecipe()" *ngIf="recipe">
    <div class="test">
        <div class="imagetest">
            <img fill sizes="(max-width: 500px) 30vw, 15vw" loading="lazy" [ngSrc]="imagePath"/>
        </div>
        <div class="infocontainer">
            <ion-content [color]="themeService.theme">
                <div class="cardHeader">
                    <ion-card-title>{{recipe.name}}</ion-card-title>
                    <ion-fab-button class="removeButton" [color]="themeService.theme" (click)="addRecipeToRemoveList()" *ngIf="editMode">
                        <ion-icon color="danger" name="trash-outline" *ngIf="!isRemoved"></ion-icon>
                        <ion-icon name="checkmark-outline" *ngIf="isRemoved"></ion-icon>
                    </ion-fab-button>
                </div>
            </ion-content>
        </div>
    </div>
</ion-card>
