<div>
    <div class="headerContainer">
        <ion-header>
            <ion-toolbar>
                <ion-title>neue Variante erstellen</ion-title>
            </ion-toolbar>
        </ion-header>
    </div>
    <div class="contentContainer">
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input [(ngModel)]="itemName"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Beschreibung</ion-label>
            <ion-textarea [(ngModel)]="itemDescription"></ion-textarea>
        </ion-item>

        <ion-item style="width: 100%;">
            <app-variant-size-selecter (output_selectedSize)="itemSize = $event"></app-variant-size-selecter>
        </ion-item>

    </div>

</div>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="onCancel()">abbrechen</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="success" (click)="onAddItem()" expand="block">erstellen</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
