<ion-content [color]="themeService.theme">
    
    <h1>neue Kategorie hinzufügen</h1>

    <ion-item mode="md" class="addBranchName" [color]="themeService.theme">
        <ion-label [color]="themeService.opposittheme" position="floating">Abteilungsname</ion-label>
        <ion-input [color]="themeService.opposittheme" [(ngModel)]="newCategoryName"></ion-input>
        
        <ion-fab-button slot="end" (click)="addCategory()">
            <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
    </ion-item>
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
</ion-content>