<h1>Kategorieübersicht</h1>
<div class="container">
    <div class="controlContainer">
        <app-filter-by-name [title]="'Kategorienamen'" [minimumCharacters]="0" [items]="this.categoryService.categories" (value)="searchByQuery($event)"></app-filter-by-name>
    </div>
    
    <div class="categoriesContainer">
        <ion-card class="categoryCard">
            <ion-fab-button color="success" (click)="openAddModal()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-card>
        <ion-card  class="categoryCard" (click)="router.navigate(['categories/', category.id])" *ngFor="let category of filteredCategories">
                {{category.name}}
        </ion-card>
    </div>
</div>