<h1>Kategorien</h1>
<ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
<app-filter-by-name [title]="'Kategorienamen'" [minimumCharacters]="0" [items]="this.categoryService.categories" (value)="searchByQuery($event)"></app-filter-by-name>

<div class="categoriesContainer">
    <ion-card class="categoryCard clickable" (click)="openAddModal()">
        <ion-fab-button color="success">
            <span class="custom-title" title="Hinzufügen">
                <ion-icon name="add"></ion-icon>
            </span>
        </ion-fab-button>
    </ion-card>

    <ion-card  class="categoryCard clickable" (click)="router.navigate(['categories/', category.id])" *ngFor="let category of filteredCategories">
        <div class="categoryName">{{category.name}}</div>
    </ion-card>
</div>