<p>scheduler works!</p>
<div class="scheduleContainer">
    <h1>{{branch.name}}</h1>
    <div class="scheduleDay" *ngFor="let day of days">
        <ion-card [color]="getColor(day)">
            <ion-card-header>
                <ion-card-subtitle>{{scheduleItemDay[day]}}</ion-card-subtitle>
                <ion-fab-button (click)="routeToScheduleDetails(day)">
                    <ion-icon name="pencil"></ion-icon>
                </ion-fab-button>
            </ion-card-header>
            <ion-card-content>
                <ion-card (click)="navigateToVariant(item)" *ngFor="let item of scheduleItems.get(day)">
                <ion-card-header>
                    <ion-card-subtitle>Rezept: {{item.variant.recipe.name}}: {{item.variant.name}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Menge: {{item.quantity}}, Größe: {{item.size.name}}
                </ion-card-content>
                </ion-card>
            </ion-card-content>
        </ion-card>
    </div>
</div>