<div>
    <ion-reorder-group [disabled]="!editMode" (ionItemReorder)="doReorder($event)" disabled="false">
            <ion-item (click)="openAddIngredientModal(ing)" *ngFor="let ing of ingredients">
                <ion-label>
                    {{ing.name}}: {{ing.quantity*multiplicator*quantity}} {{ing.unit}}
                </ion-label>
                <ion-icon slot="start" name="pencil-outline" *ngIf="editMode"></ion-icon>
                <ion-icon slot="start" color="danger" name="trash-outline" (click)="deleteIngredient(ing)" *ngIf="editMode"></ion-icon>
                <ion-reorder slot="end"></ion-reorder>
            </ion-item>
        <ion-item (click)="openAddIngredientModal()" *ngIf="editMode">
            <ion-icon slot="start" name="add"></ion-icon>
            <ion-label position="fixed">Zutat hinzufügen</ion-label>
        </ion-item>
    </ion-reorder-group>
</div>