<div>
    <h2>{{title}}</h2>
    <ion-card>
        <ion-reorder-group [disabled]="!editMode" (ionItemReorder)="doReorder($event)" disabled="false">
            <ion-item (click)="openAddIngredientModal(ing)" *ngFor="let ing of ingredients">
                <ion-label>
                    {{ing.name}}: {{ing.quantity}}{{ing.unit}}
                </ion-label>
                <p>Dev Only: S: {{ing.section}}, Order: {{ing.order}}</p>

                <ion-icon slot="start" name="pencil-outline" *ngIf="editMode"></ion-icon>
                <ion-icon slot="start" color="danger" name="trash-outline" *ngIf="editMode"></ion-icon>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
            <ion-item (click)="openAddIngredientModal()" *ngIf="editMode">
                <ion-icon slot="start" name="add"></ion-icon>
                <ion-label position="fixed">Zutat hinzufügen</ion-label>
            </ion-item>
        </ion-reorder-group>
    </ion-card>
</div>