<ion-content>
    <h1>{{title}}</h1>
    <div *ngIf="name">
        {{name}}
    </div>
    <div *ngIf="description">
        {{description}}
    </div>
    <div>
        {{confirmationText}}
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="onCancel()">Abbrechen</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="onConfirm()">Bestätigen</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>