/* Header */
.header {
    display: flex;
}

/* Headlines stacked on top of each other */
.headline-stack h4 {
    margin-bottom: 0;
}
.headline-stack h1 {
    margin: 10px 10px 10px 0;
    padding-left: 5px;
}

.headline-stack ion-fab-button {
    margin: 0;
}

/* Edit Name */
ion-card-header h5 {
    margin: 0;
}