:host {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.main-content {
  padding-left: 24px;
  flex: 1;
}

.header-nav {
  display: flex;
  line-height: 56px;
  flex-direction: row;
}

.branch{
  display: flex;
}
.test {
  flex-direction: row;
}
a {
  color: white;
  text-decoration: none;
} 