<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="dark" style="padding-right: 15px;">
          <ion-button slot="end" fill="clear" routerLink="/home/settings">
            <ion-icon color="light" name="settings"></ion-icon>
          </ion-button>
          <ion-title slot="start">Menu Content</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content color="dark" class="ion-padding">
        <div class="sidebar">
            <div class="sidebarItem">
                <ion-button routerLink="/branches" fill="clear" color="light">Abteilungen</ion-button>
            </div>
            <div class="sidebarItem">
                <ion-button routerLink="/categories" fill="clear" color="light">Kategorien</ion-button>
            </div>
            <div class="sidebarItem">
                <ion-button routerLink="/Rezepte" fill="clear" color="light">Rezepte</ion-button>
            </div>
        </div>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>RezeptVerwaltung</ion-title>
        <div slot="end" class="contentMenu">
          <div>{{time}}</div>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content [color]="themeService.isDarkMode ? 'medium': 'light'" class="ion-padding">
        <router-outlet></router-outlet>
    </ion-content>
  </div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

