<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar style="padding-right: 15px;">
          <ion-button slot="end" fill="clear" routerLink="/home/settings">
            <ion-icon name="settings"></ion-icon>
          </ion-button>
          <ion-title slot="start">Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <div class="sidebar">
          <div class="sidebarItem">
            <ion-menu-button routerLink="/home" fill="clear">Startseite</ion-menu-button>
          </div>
          <div class="sidebarItem">
              <ion-menu-button routerLink="/branches" fill="clear">Abteilungen</ion-menu-button>
          </div>
          <div class="sidebarItem">
              <ion-menu-button routerLink="/categories" fill="clear">Kategorien</ion-menu-button>
          </div>
          <div class="sidebarItem">
              <ion-menu-button routerLink="/recipes" fill="clear">Rezepte</ion-menu-button>
          </div>
        </div>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar >
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>ReMa</ion-title>
        <div slot="end" class="contentMenu">
          <div>{{time}}</div>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <router-outlet></router-outlet>
    </ion-content>
  </div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

