.contentMenu{
    padding-right: 15px;
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sidebar{
    float: left;
}
.sidebarItem{
    float: left;
    padding-top: 25px;
}