<div *ngIf="itemList">
    <app-general-item-selection [service]="service" [alreadySelectedItems]="itemsToAdd" [defaultQuery]="defaultQuery"  [minimumCharacters]="3" [cardTitle]="cardTitle" [searchLabel]="searchLabel" [searchPlaceholder]="searchPlaceholder" (itemSelected)="addItem($event)" *ngIf="editMode"></app-general-item-selection>
    <ion-chip [color]="getColorOfChip(item)" (click)="toggleItem(item)" [disabled]="!editMode" *ngFor="let item of itemList">
        {{item.name}}
        <ion-icon name="close-circle" *ngIf="editMode"></ion-icon>
    </ion-chip>
</div>