<ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
<h1>Abteilungsübersicht</h1>

<app-filter-by-name [title]="'Abteilungsnamen'" [minimumCharacters]="0" [items]="this.branchService.branches" (query)="searchByQuery($event)"></app-filter-by-name>

<div class="branchContainer">
    <ion-card [color]="themeService.theme" (click)="onAddBranch()" class="branchCard">
        <ion-fab-button color="primary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-card>

    <ion-card [color]="themeService.theme" class="branchCard" (click)="navigateToBranch(branch)" *ngFor="let branch of filteredBranches">
        <div class="branchName">{{branch.name}}</div>
    </ion-card>
</div>
