<ion-card [color]="themeService.theme">
    <!-- Es gibt hier 2 Möglichkeiten, wir könnten auch einen ionic Header anzeigen lassen oder halt nen normalen Titel oder nen custom Zeugs-->
    <ion-card-header>
        <ion-card-title>neue Abteilung hinzufügen</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
        <ion-item mode="md" class="addBranchName" [color]="themeService.theme">
            <ion-label [color]="themeService.opposittheme" position="floating">Abteilungsname</ion-label>
            <ion-input [color]="themeService.opposittheme" [(ngModel)]="branchName"></ion-input>
            
            <ion-fab-button slot="end" (click)="addBranch()">
                <ion-icon name="checkmark-outline"></ion-icon>
            </ion-fab-button>
        </ion-item>
    </ion-card-content>
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
</ion-card>