.header {
  padding: 0 24px;
  height: 32px;
}

.header-nav {
  display: flex;
  line-height: 56px;
  flex-direction: row;
}

.branch{
  display: flex;
}
.test {
  flex-direction: row;
}
a {
  color: white;
  text-decoration: none;
} 