<div class="toolbar">
  <button mat-fab extended color="primary" routerLink="/">
    <mat-icon>home</mat-icon>
    ReMa
  </button>
  <div class="navigationContainer">
    <div class="navigationitem">
      <button mat-button class="item" routerLink="/branches/overview">
        {{timerBool?"Abteilungen": "Abt."}}
      </button>
    </div>
    <div class="navigationitem">
      <button mat-button class="item" routerLink="/recipes/overview">
        {{timerBool?"Kategorien": "Kat."}}

      </button>
    </div>
    <div class="navigationitem">
      <button mat-button class="item" routerLink="/categories/overview">
        {{timerBool?"Rezepte": "Rez."}}
      </button>
    </div>
  </div>

  <span class="timer" *ngIf="displayTimer">
    <mat-icon *ngIf="timerBool">timer</mat-icon>
    <span class="timer-value" >{{ timerValue }}</span>
  </span>
</div>
