<p>variant-details works!</p>

<div *ngIf="recipe && variant">

    <div class="editBox">
        <ion-fab-button (click)="changeEditMode()">
            <ion-icon name="pencil-outline" *ngIf="!editMode"></ion-icon>
            <ion-icon name="close-outline" *ngIf="editMode"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="danger" (click)="deleteVariant()">
            <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="success" (click)="saveVariant()">
            <ion-icon name="save-outline"></ion-icon>
        </ion-fab-button>
    </div>

    <app-general-edit-master-data
        [enableNameEdit]="true"
        [enableDescriptionEdit]="true"
        [enableSizeEdit]="true"

        title="Rezeptvariante"
        [name]="variant.name"
        [description]="variant.description"
        [size]="variant.size"
        [conversionType]="variant.conversionType"

        [editMode]="editMode"

        (nameChanged)="newName = $event"
        (descriptionChanged)="newDescription = $event"
        (sizeChanged)="newSize = $event"
    >
    </app-general-edit-master-data>
    <div>
        <div>
            <app-variant-size-selecter
                [preSelectedConversionType]="variant.conversionType"
                [preSelectedSize]="size || variant.size"
                [fromSize]="variant.size"
                [showConversionType]="false"
                (multiplicator)="multiplicator = $event"
                *ngIf="!editMode"
            >
            </app-variant-size-selecter>
        </div>

        <h3>Zutaten</h3>
        Multiplikator: {{multiplicator}}


        <ion-input type="number" placeholder="Anzahl eingeben" [(ngModel)]="quantity"></ion-input>
        <div *ngIf="editMode">
            
            <ion-button (click)="addSection()">neue Sektion hinzufügen</ion-button>
            <ion-button>Sektionen speichern - nur im DevMode -</ion-button>
        </div>
        <div *ngIf="ingredientMap && finMap">
            <div *ngFor="let key of keys; index as i">
                <h4>Schritt: {{i+1}} S: {{key}}</h4>
                <ion-fab-button slot="end" (click)="removeSection(key)" *ngIf="editMode">
                    <ion-icon color="danger" name="trash-outline"></ion-icon>
                </ion-fab-button>
                <app-variant-section [quantity]="quantity" [sectionId]="key" [editMode]="editMode" [multiplicator]="multiplicator" (newIngredients)="onChangeIngredientListOnSection(key, $event)" [ingredients]="ingredientMap.get(key) || []" ></app-variant-section>
            </div>
        </div>
    </div>


</div>