<p>variant-details works!</p>

<div *ngIf="recipe && variant">
    <div>
        <h1>Variante: {{variant.name}}</h1>
        <p>{{variant.description}}</p>
        <div>
            Umrechenart: {{variant.conversionType.name}}<br>
            Basisgröße: {{variant.size.name}}
        </div>
    </div>

    <div>
        <div>
            <app-variant-size-selecter
                [preSelectedConversionType]="variant.conversionType"
                [preSelectedSize]="variant.size"
                [fromSize]="variant.size"
                [showConversionType]="false"
                (multiplicator)="multiplicator = $event"
            >
            </app-variant-size-selecter>
        </div>

        <h3>Zutaten</h3>
        Multiplikator: {{multiplicator}}
        <ion-fab-button (click)="changeEditMode()">
            <ion-icon name="pencil-outline"></ion-icon>
        </ion-fab-button>
        <div *ngIf="editMode">
            <ion-button (click)="addSection()">neue Sektion hinzufügen</ion-button>
            <ion-button (click)="saveAllTest()">Sektionen speichern - nur im DevMode -</ion-button>
        </div>
        <div *ngIf="ingredientMap && finMap">
            <div *ngFor="let key of keys; index as i">
                <h4>Schritt: {{i+1}}</h4>
                <ion-fab-button slot="end" (click)="removeSection(key)" *ngIf="editMode">
                    <ion-icon color="danger" name="trash-outline"></ion-icon>
                </ion-fab-button>
                <app-variant-section [sectionId]="key" [editMode]="editMode" [multiplicator]="multiplicator" (newIngredients)="onChangeIngredientListOnSection(key, $event)" [ingredients]="ingredientMap.get(key) || []" ></app-variant-section>
            </div>
        </div>
    </div>


</div>