<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
<div class="container" *ngIf="branch">
    <div class="headerContainer">
        <div class="editBox">
            <ion-fab-button [color]="themeService.theme" (click)="updateBranch()" *ngIf="editMode">
                <ion-icon color="success" name="save-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="great" color="danger" (click)="deleteBranch()" *ngIf="editMode">
                <ion-icon color="dark" name="trash-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button [color]="themeService.theme" (click)="editMode = !editMode">
                <ion-icon [color]="themeService.opposittheme" name="pencil-outline" *ngIf="!editMode"></ion-icon>
                <ion-icon color="danger" name="close-outline" *ngIf="editMode"></ion-icon>
            </ion-fab-button>
        </div>
        <app-name-edit title="Abteilung" [item]="branch" [editMode]="editMode" (changes)="newName = $event"></app-name-edit>
    </div>
    
    
    <app-filter-by-general-model [filterBranches]="false" [minimumFilterCount]="1" [branches]="[branch]" [categories]="branch.recipeCategories" (filteredItems)="searchByQuery($event)"></app-filter-by-general-model>

    <app-recipe-card-view [recipes]="filteredRecipes" [branch]="branch" [editMode]="editMode" (add)="addRecipe = $event" (rmv)="rmvRecipe = $event"></app-recipe-card-view>
</div>
