<div class="container" *ngIf="branch">
    <div class="headerContainer">
        <div class="editBox">
            <ion-fab-button [color]="themeService.theme" (click)="updateBranch()" *ngIf="editMode">
                <ion-icon color="success" name="save-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="great" color="danger" *ngIf="editMode">
                <ion-icon color="dark" name="trash-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button [color]="themeService.theme" (click)="editMode = !editMode">
                <ion-icon [color]="themeService.opposittheme" name="pencil-outline" *ngIf="!editMode"></ion-icon>
                <ion-icon color="danger" name="close-outline" *ngIf="editMode"></ion-icon>
            </ion-fab-button>
        </div>
    <app-branch-name-edit [branch]="branch" [editMode]="editMode" (changes)="newName = $event"></app-branch-name-edit>
    </div>
    

    <div class="categoryContainer">
        <ion-chip [color]="selectAll ? 'primary': themeService.opposittheme" (click)="changeStateOfAll()">Alle auswählen</ion-chip>
        <ion-chip  (click)="changeStateOf(category)" [color]="getState(category)" *ngFor="let category of branch.recipeCategories">
            {{category.name}}
        </ion-chip>
    </div>

    
<app-recipe-card-view [recipes]="recipes" [branch]="branch" [editMode]="editMode" (add)="addRecipe = $event" (rmv)="rmvRecipe = $event"></app-recipe-card-view>
</div>
