.headerContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.editBox{
    display: flex;
    position: absolute;

    align-self: flex-end;
    gap: 10px;
}
.deleteButton {
    position: absolute;
    align-self: flex-end;
}


