<div class="categoryContainer">
    <div  *ngIf="branches.length >= 1 && filterBranches">
        <h3>Abteilungen</h3>
        <app-general-model-chip-list [items]="branches" (seletedItemIds)="onChangeSelectedBranches($event)"></app-general-model-chip-list>
    </div>
    <div *ngIf="categories.length >= 1  && filterCategories">
        <h3>Kategorien</h3>
        <app-general-model-chip-list [items]="categories" (seletedItemIds)="onChangeSelectedCategories($event)"></app-general-model-chip-list>
    </div>
    <div>
        <app-filter-by-name [minimumCharacters]="3" (query)="addNameQuery($event)" *ngIf="filterByName"></app-filter-by-name>
    </div>
</div>