<ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
<div class="container" *ngIf="category">
    <div class="headerContainer">
        <div class="editBox">
            <ion-fab-button (click)="updateCategory()" *ngIf="editMode">
                <ion-icon color="success" name="save-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="great" color="danger" (click)="deleteCategory()" *ngIf="editMode">
                <ion-icon color="dark" name="trash-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="editMode = !editMode">
                <ion-icon name="pencil-outline" *ngIf="!editMode"></ion-icon>
                <ion-icon color="danger" name="close-outline" *ngIf="editMode"></ion-icon>
            </ion-fab-button>
        </div>
        <app-name-edit [item]="category" [editMode]="editMode" [title]="'Kategorie'" (changes)="newName = $event"></app-name-edit>
    </div>

    <app-filter-by-general-model [categories]="[category]" [branches]="category.recipeBranches" [filterCategories]="false" (filteredItems)="searchByQuery($event)"></app-filter-by-general-model> 
    <app-general-details-edit-relations [service]="recipeService" [defaultQuery]="defaultQuery" (itemsToAdd)="addItemsToAddList($event)" *ngIf="editMode"></app-general-details-edit-relations>

    <app-recipe-card-view [recipes]="filteredRecipes" [category]="category" [editMode]="editMode" (rmv)="rmvRecipes = $event"></app-recipe-card-view>
</div>
