<h1>
    Abteilung: {{branch.name}}
</h1>

<ion-card [color]="themeService.theme" *ngIf="editMode">
    <!-- Es gibt hier 2 Möglichkeiten, wir könnten auch einen ionic Header anzeigen lassen oder halt nen normalen Titel oder nen custom Zeugs-->
    <ion-card-header>
        <ion-card-title>Abteilungsnamen ändern</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
        <ion-item mode="md" class="addBranchName" [color]="themeService.theme">
            <ion-label [color]="nameTheme" position="floating">Abteilungsname</ion-label>
            <ion-input [color]="nameTheme" [value]="branchName" (ionChange)="changeName($event)"></ion-input>
            <ion-note color="danger" slot="end" *ngIf="nameError">{{nameError}}</ion-note>
        </ion-item>
    </ion-card-content>
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
</ion-card>