<ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
<ion-content>
    <div class="content">
        <div class="header">
            <h1>{{title}}</h1>
            <p>{{description}}</p>
        </div>
    
        <div>
            <ion-item counter="20">
                <ion-label position="floating">Name</ion-label>
                <ion-input [(ngModel)]="itemName"></ion-input>
            </ion-item>
        </div>
    </div>

</ion-content>
<ion-footer >
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="onAddItem()">erstellen</ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-button (click)="onCancel()">abbrechen</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>